<dialog data-controller="ui--cmd-k" data-action="keydown.meta+k@window->ui--cmd-k#open">
  <form method="dialog">
    <button>Close</button>
  </form>

  <!-- Search input and results will go there -->
</dialog>
